@import '/client/app/basic-style/basic';
@import '/client/app/basic-style/color';
@import '/client/app/basic-style/tag';

.container {
  @include              base_block;
  background-image:     url('/client/public/wallpaper.jpeg');
  height:               100%;

  animation:            arise 7s;
}

@keyframes arise {
  0%    { opacity:       0; }
  95%   { opacity:       0; }
  100%  { opacity:       1; }
}