@import '/client/app/basic-style/basic';

.video {
  @include base_block;
  background-color: black;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $breakpoint-mobile) {
    width: 80%;
  }
}