@import '/client/app/basic-style/basic';

.header_panel {
  @include base_block;
}

.container {
  @include base_container;
}

.content {
  @include base_content;
}

.btn_styles {
  transform:            translateY(-50%);
  transition:           0.3s;
  background:         rebeccapurple;
  font-size:            inherit;
  // position:             absolute;
  // border:               inherit;
  display: contents;
  // top: 15px;
  // margin: inherit;
  // border-radius: inherit;
  // max-height:               100%;
  // width:                100%;
  // top:                  50%;
  // left: 0;

  &:hover {
    opacity:            0.5;
    cursor:             url('../../../public/pointer-select-24.png') 2 2, pointer;
  }
}