@import '/client/app/basic-style/basic';

.container {
  @include              base_container;
  display:              flex;
  background:           none;
}

.content {
  @include              base_content;
  text-indent:          5px;
}

%btn_style {
  @include              base_button;
  font-size:            inherit;
  position:             absolute;
  width:                48.5%;

  &:hover {
    background:         $smart-border-fast;
  }
}

.btn_remove {
  @extend               %btn_style;
  right:                0;
}

.btn_add {
  @extend               %btn_style;
  left:                 0;
}