@import '/client/app/basic-style/basic';

.container {
  @include              base_container;
  display:              flex;
}

.content {
  @include              base_content;
  text-indent:          5px;
}

%btn_style {
  @include              base_button;
  @include              base_button_menu;
  position:             absolute;
  width:                48.5%;
}

.btn_remove {
  @extend               %btn_style;
  right:                0;
}

.btn_add {
  @extend               %btn_style;
  left:                 0;
}