$breakpoint-mobile: 400px;

@mixin base_block {
  background-color:   white;
  border-radius:      10pt;
  transition:         0.5s;
  box-sizing:         border-box;
  text-align:         center;
  border:             3pt solid #3f3f3f;
}

@mixin base_container {
  border-radius:      10pt;
  position:           absolute;
  border:             5px dashed rgb(168, 171, 209);
  margin:             15px;
  right:              10px;
  left:               10px;
}

@mixin base_content {
  font-family:        "Ubuntu";
  font-weight:        700;
  text-align:         center;
  font-size:          larger;
  color:            #3f3f3f;
}

@mixin base_button {
  transform:            translateY(-50%);
  transition:           0.3s;
  background:           none;

  &:hover {
    opacity:            0.5;
    cursor:             url('../../../public/pointer-select-24.png') 2 2, pointer;
  }
}