@import '/client/app/basic-style/color';

$breakpoint-mobile:     600px;

$smart-border:          url(
                          'data:image/svg+xml,\
                          <svg xmlns="http://www.w3.org/2000/svg">\
                            <style>@keyframes ants {to { stroke-dashoffset: -15px}}</style>\
                            <rect rx="10pt" width="100%" height="100%" style="stroke: black; stroke-width: 4px; fill: none;\
                            stroke-dasharray: 10px 5px; animation: ants 1s infinite linear" />\
                          </svg>'
                          );

$smart-border-fast:     url(
                          'data:image/svg+xml,\
                          <svg xmlns="http://www.w3.org/2000/svg">\
                            <style>@keyframes ants {to { stroke-dashoffset: -15px}}</style>\
                            <rect rx="10pt" width="100%" height="100%" style="stroke: white; stroke-width: 4px; fill: none;\
                            stroke-dasharray: 10px 5px; animation: ants 0.25s infinite linear" />\
                          </svg>'
                          );

@mixin base_block {
  border-radius:        10pt;
  transition:           0.5s;
  box-sizing:           border-box;
  text-align:           center;
}

@mixin base_button {
  border-radius:        10pt;
  transition:           0.3s;
  background:           $smart-border;
  border:               none;
  
  @include              shadowing_dark;

  @include              base_breakpoint_shadow;

  &:hover {
    cursor:             url('../../../public/pointer-select-24.png') 2 2, pointer;
  }

  &:focus {
    box-shadow:         0 0 3pt 2pt white;
    outline:            none;
    background:         none;
    
    @media (max-width: $breakpoint-mobile) {
      transition:       0.1s;
      transform:        scale(0.95, 0.95);
    }
  }

  &:focus:not(:focus-visible) {
    box-shadow:         none;
    background:         none;
    outline:            none;

    @include            base_breakpoint_shadow;
  }
}

@mixin base_content { 
  font-family:          "Ubuntu";
  font-weight:          300;
  text-align:           center;
  font-size:            larger;
}

@mixin base_container {
  border-radius:        10pt;
  background:           $smart-border;
  position:             absolute;
  margin:               15px;
  right:                10px;
  left:                 10px;
}

@mixin base_breakpoint_width {
  @media (max-width: $breakpoint-mobile) {
    width:              80%;
  }
}

@mixin base_breakpoint_shadow {
  @media (max-width: $breakpoint-mobile) {
    background:         none;
    @include            shadowing_dark;
    @include            shadowing_box;
  }
}

[data-js-focus-visible]:focus:not([data-focus-visible-added]) {
  box-shadow:           none;
  background:           none;
  outline:              none;
  
  @include              base_breakpoint_shadow;
}