@mixin shadowing_box {
  box-shadow:           0px -1px 10px rgba(0,0,0,0.5), 0px 1px 10px rgba(0,0,0,0.7);
  transition:           0.5s;

  &:hover {
    box-shadow:         0px -1px 10px rgba(241, 169, 169, 0.5), 0px 1px 10px rgba(241, 169, 169, 0.5);
  }
}

@mixin shadowing_dark {
  background-color:   rgba(0, 0, 0, 0.20);
  
  @media (max-width: $breakpoint-mobile) {
    background-color: rgba(0, 0, 0, 0.10);
  }
}

@mixin shadowing_breakpoint {
  @media (max-width: $breakpoint-mobile) {
    background:         none;
    @include            shadowing_dark;
    @include            shadowing_box;
  }
}

@mixin shadowing_background {
  background-color: rgba(0,0,0,0.05);
  position:           absolute;
  content:            "";
  bottom:             0px;
  right:              0px;
  left:               0px;
  top:                0px;
}

@mixin base_synthwave {
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change:          filter, color;
  filter:               saturate(100%);
}

@mixin synthwave_red {
  @include            base_synthwave;

  color:              white;
  --color1:           orangered;
  --color2:           firebrick;
  --color3:           maroon;
  --color4:           darkred;
}

@mixin synthwave_blue {
  @include            base_synthwave;

  color:              white;
  --color1:           aqua;
  --color2:           skyblue;
  --color3:           blue;
  --color4:           darkblue;
}

@mixin synthwave_green {
  @include            base_synthwave;

  color:              white;
  --color1:           yellow;
  --color2:           lime;
  --color3:           green;
  --color4:           darkgreen;
}

@mixin synthwave_purple {
  @include            base_synthwave;
  
  color:              white;
  --color1:           thistle;
  --color2:           violet;
  --color3:           fuchsia;
  --color4:           purple;
}